<h1>Pirate Ship Builder</h1>
<form method="POST" action="/pirates">
  <p><label for="pirate_name"> Pirate name </label>
  <input id="pirate_name" type="text" name="pirate[name]"></p>
  <p><label for="pirate_weight"> Pirate weight </label>
  <input id="pirate_weight" type="text" name="pirate[weight]"></p> 
  <p><label for="pirate_height"> Pirate height </label>
  <input id="pirate_height" type="text" name="pirate[height]"></p> 

  <h2>Create your Ships</h2>
  <h3>Ship 1</h3>
  <p><label for="ship_name_1"> Ship name </label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p> 
  <p><label for="ship_type_1"> Ship type </label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p> 
  <p><label for="ship_booty_1"> Ship booty </label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p> 

  <h3>Ship 2</h3>
  <p><label for="ship_name_2"> Ship name </label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p> 
  <p><label for="ship_type_2"> Ship type </label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p> 
  <p><label for="ship_booty_2"> Ship booty </label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p> 
  
  <input type="submit" id="submit" value="Submit">
</form>


